.sidenav-container {
  width: 300px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $blue-grey-900;
  a.brand-logo {
    width: 163px;
    height: 32px;
    margin: 20px 68.5px 40px 68.5px;
    display: block;
  }
  .menu-container {
    li {
      list-style: none;
      height: 40px;
      a {
        padding: 14px;
        line-height: 12px;
        display: block;
        &:hover, &:focus, &:active {
          background-color: $blue-grey-800;
        }
      }
    }
  }
}

.navbar-container {
  width: calc(100% - 300px);
  min-width: 980px;
  height: 60px;
  margin: 0 0 0 300px;
  background-color: $light-blue-700;
  .right-menu {
    height: 40px;
    margin: 10px 40px 10px 20px;
    a.dropdown-button {
      display: block;
      line-height: 40px;
      color: $white;
      i.material-icons {
        line-height: 40px;
      }

    }
    .dropdown-content {
      a {
        display: block;
        line-height: 40px;
        color: $light-blue-700;
        padding: 6px 16px;
        i {
          line-height: 40px;
        }
      }
    }
  }
}

.active-menu {
  background-color: transparentize($white, 0.9);
}

.clear {
  clear: left;
}

.dashboard-container {
  margin: 0 0 0 300px;
  width: calc(100% - 300px);
  padding: 30px 0;
  min-width: 980px;
  min-height: calc(100vh - 60px);
  position: relative;
  background-color: $blue-grey-50;
}